[Unit]
Description=jwm service
After=multi-user.target

[Service]
Type=idle
User=j
WorkingDirectory=/home/j/awmcam
ExecStart=/home/j/awmcam/service/awmrun.sh
Environment=XAUTHORITY=/home/j/.Xauthority
Environment=DISPLAY=:0.0

[Install]
WantedBy=multi-user.target
