[Unit]
Description=Mav
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/awmcam
ExecStart=/home/pi/awmcam/service/awmrun.sh

[Install]
WantedBy=multi-user.target
