[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/pi/awmcam/service/usb-mount.sh add
ExecStop=/home/pi/awmcam/service/usb-mount.sh remove