[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/pi/awmcam/service/usb-mount111111111.sh add %i
ExecStop=/home/pi/awmcam/service/usb-mount111111111.sh remove %i