[Unit]
Description=Mount USB Drive on %i
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/j/awmcam/service/usb-mount.sh add %i
ExecStop=/home/j/awmcam/service/usb-mount.sh remove %i